<carousel>
    <slide *ngFor="let noticia of noticias; let i = index">
        <img [src]="noticia.imagen" style="display: block; width: 100%;" />
        <!-- <img [src]="{{ noticia.Imagen }}" alt="image slide" style="display: block; width: 100%;" /> -->
        <!-- <img src="../../../assets/imagenes/DSC1.JPG" style="display: block; width: 100%;" /> -->
        <!-- <img ng-src="../../../assets/imagenes/{{ noticia.Imagen }}" style="display: block; width: 100%;" /> -->
        <div class="carousel-caption d-none d-md-block">
            <button type="button" class="btn btn-dark">
                <fa name="edit">Editar</fa>
                <!-- <a [routerLink]="[ 'noticias/list', {{noticias.Id}} ]">Editar</a> -->
                <a [routerLink]="['/private/noticias-edit/',noticia.id]">Editar</a>
            </button>
            <h3>{{ noticia.titulo }}</h3>
            <p>{{ noticia.descripcion }}</p>
        </div>
        <!-- <button type="button" class="btn btn-outline-dark">Dark</button> -->
    </slide>
</carousel>