<h2>Pipes comunes</h2>
<tr>
    <th colspan="2" class="text-center">Uppercase</th>
</tr>
<tr>
    <th>{{ nombre }}</th>
    <td>{{ nombre | uppercase }}</td>
</tr>
<tr>
    <th colspan="2" class="text-center">Lowercase</th>
</tr>
<tr>
    <th>{{ curso }}</th>
    <td>{{ curso | lowercase }}</td>
</tr>
<tr>
    <th colspan="2" class="text-center">Slice</th>
</tr>
<tr>
    <th>{{ nombre }}</th>
    <td>{{ nombre | slice: 1:3 | uppercase }}</td>
</tr>
<tr>
    <th colspan="2" class="text-center">Numero</th>
</tr>
<tr>
    <th>{{ numero1 }}</th>
    <td>{{ numero1 | number }}</td>
</tr>
<tr>
    <th colspan="2" class="text-center">Numero Decimal 4.2-2</th>
</tr>
<tr>
    <th>{{ numero1 }}</th>
    <td>{{ numero1 | number:'4.2-2' }}</td>
</tr>
<tr>
    <th colspan="2" class="text-center">Numero Decimal 3.0-5</th>
</tr>
<tr>
    <th>{{ numero2 }}</th>
    <td>{{ numero2 | number:'3.0-5' }}</td>
</tr>
<tr>
    <th colspan="2" class="text-center">Numero Decimal 1.1-1</th>
</tr>
<tr>
    <th>{{ numero3 }}</th>
    <td>{{ numero3 | number:'1.1-1' }}</td>
</tr>

<tr>
    <th colspan="2" class="text-center">Fecha</th>
</tr>
<tr>
    <th>{{ fechaNacimiento }}</th>
    <td>{{ fechaNacimiento | date }}</td>
    <td>{{ fechaNacimiento | date:'shortTime' }}</td>
</tr>
<tr>
    <th colspan="2" class="text-center">Fecha shortTime</th>
</tr>
<tr>
    <th>{{ fechaNacimiento }}</th>
    <td>{{ fechaNacimiento | date:'shortTime' }}</td>
</tr>
<tr>
    <th colspan="2" class="text-center">Fecha medium</th>
</tr>
<tr>
    <th>{{ fechaNacimiento }}</th>
    <td>{{ fechaNacimiento | date:'medium' }}</td>
</tr>
<tr>
    <th colspan="2" class="text-center">Moneda</th>
</tr>
<tr>
    <th>{{ moneda }}</th>
    <td>{{ moneda | currency:'USD':true:'2.2-4' }}</td>
</tr>
<tr>
    <th>{{ moneda }}</th>
    <td>{{ moneda | currency:'USD':false }}</td>
</tr>

<h2>Pipes Avanzados</h2>
<tr>
    <th colspan="2" class="text-center">Array Json</th>
</tr>
<tr>
    <pre>{{noticias|json}}</pre>
</tr>

<h2>Pipes Avanzados JSON ASYNC</h2>
<tr>
    <th colspan="2" class="text-center">Array Json| ASYNC</th>
</tr>
<tr>
    <!--  <pre>{{noticias$|json|async}}</pre> -->
</tr>

<h1>Youtube Video Incrustado</h1>
<iframe width="560" height="315" [src]="urlYoutube | domSecurity" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>